/* 
    Document   : toloro
    Created on : Sep 29, 2011, 1:43:12 PM
    Author     : tjsherlock
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*root { 
  display: block;
}*/




table, td.tlr-x-profiles-row-1 {
  border-top-style : none;
  border-bottom-style : none;
  border-left-style : none;
  border-right-style: none;
}

div#block-follow-site, a.follow-link {
	height: 36px;
  display: inline-block;
	/*display: block;*/
	line-height: 26px;
	padding-left: 28px;
  padding-right: 18px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

div#block-follow-site, h2 {
  display: inline-block;
    color: #1487D4;
    /*color: brown;*/
    font-size: 20px;
    font-weight: normal;
}


a.follow-link-facebook {
	background-image: url(images/icons/large/icon-facebook.png);
}

a.follow-link-twitter {
	background-image: url(images/icons/large/icon-twitter.png);
}

a.follow-link-linkedin {
	background-image: url(images/icons/large/icon-linkedin.png);
}


#slideshow a {
    /*color: #1487D4;*/
    color: #7A7A7A;
    display: block; 
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
}

/*.links ul li a, a.more, #edit-submit, #edit-preview, input.form-submit {
   display: none
}*/

.slider-item .content {
  padding-top: 20px;
}

#slider-controls-wrapper {
  padding-top: 10px;
}

div#header div#header-inside div#header-inside-left div#header-menu{
  display: inline;
}


div#header div#header-inside div#header-inside-left a img {
  float: left;
}


div#header div#header-inside div#header-inside-left div.clearfix span#slogan {
  float: left;
  padding-left: 20px;
  margin-top: -20px;
  width: 740px;
}

div#header div#header-inside div#header-inside-left div#header-menu div#header-menu-inside {
 margin-left: 273px;  
 padding-left: 100px;
 padding-top: 10px;
 width: 700px;
}


div#banner div#slideshow div.slider-item div.content div img.masked {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

div#content div#content-inside.inside div#main div#console.clearfix div.messages {
  display: none;
}

div#overlay div#overlay-content.clearfix div#page div#content.clearfix div#console.clearfix div.messages {
  
  display: none;
}


div#header{
  height: 100px; 
  
}

/*div#content div#content-inside.inside div#main.contextual-links-region div.region div#block-system-main.block div.content div.view div.view-content table.views-view-grid tbody td.tlr-portfolio{
  border: none;
}*/

div.view div.view-content table.views-view-grid tbody td.tlr-portfolio {
  border: none;
}

div.content div.view div.view-content table.views-view-grid tbody tr.row-2 td.col-3 {
  
  border: none;
}

div.content div.view div.view-content table.views-view-grid tbody tr.row-2 td.col-4 {
  
  border: none;
}

div.content div.view div.view-content table.views-view-grid tbody tr td.tlr-service-row {
  border: none;
}


div#header div#header-inside{
  padding-top: 20px;
}

.tlr-service-title {
    /*color: #222222;*/
    color: #1487D4;
    /*color: #0099CC*/
    /*font-size: 18px;*/
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom:10px;
}

.tlr-service-description {
  
  
    font-size: 1.1em;
    text-align: justify;
    padding-top: 10px;
    padding-right: 20px;
}

.tlr-corporate-profile {
  
  font-size: 1.5em;
  margin-bottom:20px;
  padding-bottom:10px;
  text-align: justify;
}

.tlr-corporate-description {
  
  font-size: 1.5em;
  margin-bottom:20px;
  padding-bottom:10px;
  text-align: justify;
}

.tlr-executive-name {
  
  font-size: 1.3em;
  font-weight: bold;
  color: #1487D4;
}

.tlr-executive-title {
  font-size: 1.2em;
  font-weight: bold;
}

.tlr-executive-description {
  font-size: 1.1em;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-align: justify;
}

.tlr-welcome-title {
  color: #1487D4;
  font-size:2em;
  margin-bottom:10px;
  padding-bottom:20px;
  text-align: left;
  
}

.tlr-welcome-description {
    font-size: 1.2em;
    margin-top: 10px;
    padding-top: 20px;
    text-align: justify;
    width: 920px;
}


.tlr-contact-block {
  /*color: #1487D4;*/
  //#7A7A7A;
  font-size:2em;
  text-align: left;
  line-height: 1.2em;
  
  
}

